<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace = "layouts :: header" >
	
</head>
<body>
<nav th:replace = "layouts :: navbar" ></nav>
<div class="container">
<div class="col-md-8">
<form action="/employees/save" method="post" th:object="${employee}">
  <label for="fname">First name:</label><br>
  <input type="text"  th:field=${employee.firstName}><br>
  <label for="lname">Last name:</label><br>
  <input type="text"th:field=${employee.lastName}>
  <label>Email</label>
  <input type="text"  th:field=${employee.email}> 
   <button type="reset" >Reset</button>
    <button type="submit" >Submit</button>
</form>
</div>
</div>
</body>
</html>